---
import Layout from "@/layouts/Layout.astro"

import data from "@/lib/data/blogs.json"



---


<Layout title="Blog" description="Stellar News">

    <section class="container mx-auto min-h-screen pb-20">

        <h2 class="text-5xl font-bold p-4 pb-5 md:pb-5 transition-all duration-1000" >STELLAR NEWS</h2>
            <p class="text-2xl px-4 pb-10">Feel free to see our news about our products and company</p>
       
            <div class="flex flex-col md:flex-col gap-4 justify-center items-center ">
                {data.blogs.map((blog) => (
                       <article class="bg-gradient-to-tr from-white/20 via-cyan-300/20 to-indigo-500/20 min-w-[75%] m-4 grid grid-cols-1 md:grid-cols-[350px_1fr] border-b-2 border-indigo-500 shadow-lg">
                                <picture class="w-full relative h-[250px] md:h-[320px]  md:max-h-[320px]" transition:name={`blog ${blog.id} container`}>
                                    <img 
                                        class="absolute inset-0 my-0 w-full h-full object-cover" 
                                        src={blog.img} alt="Zarpe Snacks"
                                        transition:name={`blog ${blog.id} image`} 
                                        />
                                </picture>
                                <div class="p-4">
                                    <h3 class="text-3xl font-bold" transition:name={`blog ${blog.id} tittle`}>{blog.title}</h3>
                                        <p transition:name={`blog ${blog.id} description`}>{blog.description} <a class="text-cyan-300" href={blog.link}>{blog.title}.</a></p>

                                        <a class="font-bold" href={`/blog/${blog.id}`} transition:name={`blog ${blog.id} container`}>Read more...</a>
                                </div>
                        </article> 
                    </div>
                ))}
                    
            </div>
    </section>
</Layout>