---
import {projects} from "@/lib/data/projects"
---
<div class="container mx-auto">
    
<h2 class="text-5xl md:text-6xl font-bold p-4 pb-10 md:pb-10 animate-fade-in transition-all duration-1000">
    Projects
</h2>

<section class="flex p-4 md:gap-12 gap-4 justify-center pb-28 z-50">
    <div class="flex-col flex md:flex-row gap-4 transition-all duration-1000">
        {projects.slice(0, 2).map(project => (
            
            <article class="w-full h-auto">
              <a href={project.link} target="_blank">
              <div class="relative h-auto w-full group">
                <div style={`background: radial-gradient(circle 400px at 50% 200px, ${project.color}, transparent);`} class="absolute bottom-0 left-0 right-0 top-0">
                </div>
                <div class="relative overflow-hidden p-2 bg-indigo-900/10 h-auto md:h-full md:py-10">
                  <picture>
                    <img class="w-full group-hover:scale-105 transition-all duration-300" src={project.img} alt={`${project.title} logo`} loading="lazy" />
                  </picture>
                </div>
              </div></a>
              <footer class="flex py-4 justify-between">
                <p class="font-medium text-sm md:text-lg transition-all duration-300">{project.title}</p>
                <div class="flex flex-wrap gap-2">
                  {project.services.map((tag) => (
                    <ul class="mx-2" >
                      <li class="border h-auto rounded-full text-sm text-nowrap px-4">
                        {tag}
                      </li>
                    </ul>
                  ))}
                </div>
              </footer>
            </article>
          ))}
    </div>
</section>
</div>